
<!DOCTYPE html> 
{% load bootstrap4 %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Mania</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/header.css" %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
        <nav id="mainNav" class="navbar navbar-expand-lg navbar-dark bg-dark py-2">
            <a id="homelink" class="navbar-brand d-inline-block align-top" href="{% url "login" %}">
                <img src="{% static "images/moviereview.png" %}" width="90" height="35" alt="">
                <span>Movie Mania</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
              <a class="nav-item nav-link pr-2" href="{% url "logout" %}">Logout</a>
            </div>
          </div>
        </nav>
    </body>
{% comment %} <div style="background-color:rgba(0,0,0);" "align='left';">
    <h2 style="color:blue";>Movie Review</h2>
    <div class="container masthead text-center">
        <div class="row-1"></div>
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-login p-2">
                    <div class="card-body"></div>
                            <img src = '{{ poster }}'>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container masthead text-center">
        <div class="row-1"></div>
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto" style="padding:30px 0;">
                <div class="card card-login p-2">
                    <div class="card-body"></div>
                            <p><h3>Movie Name:</h3>{{ movie_name }}</p>
                            <p><h3>Plot:</h3> {{ plot }}</p>
                            <p><h3><i>Rating:</i></h3> {{ imdbrating }}</p>
                            <p><h4 style="color:brown";>Genre</h4> <b>{{ genre }}</b></p>
                            <p>Relased Date: {{ released }}</p>
                            <p>Runtime: {{ runtime }}</p>
                            <p>Writer: {{ writer }}</p>
                            <p>Director: {{ director }}</p>
                            <p>Actors: {{ actors }}</p>
                            <p>Country: {{ country }}</p>
                            <p>Language: {{ language }}</p>
                    </div>
                </div>
            </div>
        </div>
</div> {% endcomment %}
<body>
    <div style="background-color:lightblue;">
    <h2 style="color:black";>Movie Review</h2>
    <div class = "movie d-flex container">
        <img class = "poster my-auto" src = '{{ poster}}'>
        <div class = 'container'>
                <p><b>Rating:</b><b>{{ imdbrating }}</p>
                <p>Genre:<b>{{ genre }}</b></p>
                <p>Movie Name:<b>{{ movie_name }}</b></p>
                <p>Plot:<b>{{ plot }}</b></p>
                <p>Relased Date: <b>{{ released }}</b></p>
                <p>Runtime:<b>{{ runtime }}</b></p>
                <p>Writer:<b>{{ writer }}</b></p>
                <p>Director:<b>{{ director }}</b></p>
                <p>Actors:<b>{{ actors }}</b></p>
                <p>Country:<b>{{ country }}</b></p>
                <p>Language:<b>{{ language }}</b></p>
        </div>
    </div>
</div>
</body>
</html>